#logo{
	background: url("/images/logo_esca.png");
	height: 68px;
	width: 180px;
	border: 0px;
	display: block;
	background-size: 180px 68px;
	margin: 10px 10px 0px 10px ;
}
a:hover		{ color: #3d377a; font-size: inherit; text-decoration: none; border: 0px;}

.button{
	width: 156px;
	height: 30px;
	background-color: #23203F;
	font-size: 14px;
	color: #fff;
	border: 0px;
	margin: 10px 0px 10px 0px;
	text-align: center !important;
	text-transform: capitalize;
}
/********** BUTTON **********/
.button{
	width: 156px;
	height: 30px;
	background-color: #23203F;
	font-size: 13px;
	color: #fff;
	border: 0px;
	margin: 10px 0px 10px 0px;
	text-align: center !important;
	text-transform: uppercase;
}
.button:hover     { background-color: #3d377a; }
.button:active    { background-color: #07032b; }
.button:disabled  { background-color: #b8b8b8; }
/********** CHECK_BOX **********/
input[type="checkbox"]{ display:none; }
input[type="checkbox"] + label {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: 3px solid #B8B8B8;
	background-color: #B8B8B8;
	cursor: pointer;
	margin: -5px 2px 0px 2px;
	vertical-align: middle;
}
input[type="checkbox"]:checked + label{
	border: 3px solid #B8B8B8;
	background-color: #23203F ;
}
/********** RADIO **********/
input[type="radio"]{ 
	display:none; 
	vertical-align: middle;
	text-align: left;
}
input[type="radio"] + label {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: 3px solid #d8d8d8;
	background-color: #d8d8d8;
	cursor: pointer;
	margin: 2px 0px;
	border-radius: 10px;
	vertical-align: middle;
}
input[type="radio"]:checked + label{
	background-color: #23203F !important;
}
input[type="radio"]:disabled + label{
	background-color: #b8b8b8;
	opacity: 0.5;
}
input[type="radio"] + label + span{
	line-height: 15px;   
	margin: 0px 10px 0px 5px;
	vertical-align: middle;
}



#sub_menu li:active{
	color: #23203F;
	font-weight: 900;
}


input[type="file"]:hover +label {
    background-color:	#3d377a;
    border-color: #3d377a;
}
.filebox.disign_sel label {
   color: #fff;
  background-color: #23203F;
  border-color: #23203F;
}
.select_minor{ 
	background-color: #4d44af !important;
	color: #fff !important;
}
.select_major{ 
	color: #23203F !important;
}
.ui-slider > .ui-slider-handle, .ui-slider-horizontal .ui-slider-handle
{
	background: #23203F;
	width: 12px;
	height: 12px;
	border: 2px solid #23203F;
	border-radius: 25px;
	top: -0.4em !important;
}
input[type="checkbox"]:checked + label{
	border: 3px solid #B8B8B8;
	background-color: #23203F ;
}

.result_table .sel_record_item, .sel_list_item { background-color: #4d44af !important;  font-weight: 900 !important;  color: #fff !important;}
.result_table .list_items:active	{ background-color: #4d44af; font-size: inherit; text-decoration: none; }

.log_table .sel_record_item, .sel_list_item { background-color: #4d44af !important;  font-weight: 900 !important;  color: #fff !important;}
.log_table .list_items:active	{ background-color: #4d44af; font-size: inherit; text-decoration: none; }

.cb-disable span .selected  {background-color: #23203F; color: #fff; }
.cb-enable span .selected  { background-color: #23203F; color: #fff; }
.color{background-color: #23203F !important; color: #fff;}

.contentNotice{
	font-size: 13px;
	color: #001bb9;
	margin: 10px 0px 0px 5px;
	text-transform: capitalize;
}
.caution{
	font-size: 12px;
	color: #001bb9;
	margin: 0px 0px 5px 0px;
	margin-left: 5px;
	font-weight : 600 ;
}
.wdr_caution{
	font-size :12px;
	font-weight: 600;
	margin : 0px 0px 5px 20px;
	color : #001bb9;
}
#progressbar {
	background-color: #4d44af ;
}
#LV_Filter_Mode .subtitle{
	width: 150px !important;	
}
